html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body,
aside {
  margin: 0;
  padding: 0;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

aside {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

aside > div {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

main > div {
  border-left: 1px solid;
  border-right: 1px solid;
  height: 80%;
}
